# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VS Code / IDE
.vscode/
.idea/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# PyTorch model checkpoints
*.pt
*.pth
*.ckpt

# Temporary files
*.tmp
*.log